/*2 Timothy 4:7: "I have fought the good fight, I have finished the race, I have kept the faith" (NIV)*/
@font-face {
  font-family: timer-font;
  src: url(../assets/fonts/digital-7.ttf);
}
.App {
  width: 80vw;
  max-width: 800px;
  background-color: rgba(255, 0, 0, 0.24);
  padding: 20%;
  border-radius: 15px;
}
.App h1 {
  width: 100%;
  font-size: 3rem;
  color: rgb(0, 255, 255);
  text-shadow: 6px 7px 9px rgb(0, 255, 255);
  text-align: center;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  .App h1 {
    font-size: 1.5rem;
  }
}
.App .length-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.App .length-section #session-setup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.App .length-section #session-setup .label-time h2 {
  text-align: left;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .App .length-section #session-setup .label-time h2 {
    font-size: 1.25rem;
  }
}
.App .length-section #session-setup .label-time p {
  margin-top: 10%;
  font-size: 1.5rem;
  color: rgb(231, 216, 216);
  text-align: left;
}
@media (max-width: 768px) {
  .App .length-section #session-setup .label-time p {
    font-size: 1rem;
  }
}
.App .length-section #session-setup .length-setup .controls {
  place-self: start;
  display: flex;
}
.App .length-section #session-setup .length-setup .controls button {
  font-size: 1.2rem;
  padding: 30%;
  color: white;
  background: black;
  border-radius: 5px;
}
.App .length-section #session-setup .length-setup .controls button:hover {
  transition: 0.5s;
  background: rgb(0, 218, 218);
}
@media (max-width: 768px) {
  .App .length-section #session-setup .length-setup .controls button {
    font-size: 0.75rem;
  }
}
.App .length-section #session-setup .length-setup .controls #session-increment {
  margin-right: 20%;
}
.App .length-section #break-setup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.App .length-section #break-setup .label-time {
  place-self: end;
}
.App .length-section #break-setup .label-time h2 {
  width: 118%;
  text-align: right;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .App .length-section #break-setup .label-time h2 {
    width: 130%;
    font-size: 1.25rem;
  }
}
.App .length-section #break-setup .label-time p {
  width: 118%;
  margin-top: 10%;
  color: rgb(231, 216, 216);
  font-size: 1.5rem;
  text-align: right;
}
@media (max-width: 768px) {
  .App .length-section #break-setup .label-time p {
    width: 130%;
    font-size: 1rem;
  }
}
.App .length-section #break-setup .length-setup .controls {
  place-self: end;
  display: flex;
}
.App .length-section #break-setup .length-setup .controls button {
  font-size: 1.2rem;
  padding: 30%;
  color: white;
  background: black;
  border-radius: 5px;
}
.App .length-section #break-setup .length-setup .controls button:hover {
  transition: 0.5s;
  background: rgb(0, 218, 218);
}
@media (max-width: 768px) {
  .App .length-section #break-setup .length-setup .controls button {
    font-size: 0.75rem;
  }
}
.App .length-section #break-setup .length-setup .controls #break-decrement {
  margin-left: 20%;
}
.App #timer {
  margin: 5% auto;
  text-align: center;
}
.App #timer #timer-label {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .App #timer #timer-label {
    font-size: 2rem;
  }
}
.App #timer #time-left {
  font-size: 5.5rem;
  font-family: timer-font;
}
@media (max-width: 768px) {
  .App #timer #time-left {
    font-size: 4rem;
  }
}
.App #timer-controls {
  margin: 0 auto;
  width: 25%;
  justify-content: space-between;
  display: flex;
}
.App #timer-controls button {
  font-size: 2.5rem;
  color: white;
  padding: 5%;
  background: black;
  border-radius: 5px;
}
.App #timer-controls button:hover {
  transition: 0.5s;
  background: rgb(0, 218, 218);
}
@media (max-width: 768px) {
  .App #timer-controls button {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .App #timer-controls {
    width: 35%;
  }
}/*# sourceMappingURL=App.css.map */