* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: square-serif;
    src: url(../assets/fonts/square_sans_serif_7.ttf);
}
body {
    width: 100vw;
    height: 100vh;
    font-family: square-serif; 
    background: linear-gradient(90deg, rgb(184, 253, 253), cyan, rgb(184, 253, 253));
    background-size: 100vw 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}